.ai-main{
    background: #fafafa;
    margin: 0;
    padding: 24px 4px 7px 4px;
    border:1px solid #d3e0e9;
}
.main-body{
    min-height: 600px;
    margin-bottom: 21px;
}
.footer{
    background: #ffffff;
    padding: 21px 0;
    border:1px solid #d3e0e9;
}